streamlit
google-generativeai
python-dotenv
fastapi[all]
motor
pymongo
pymongo[srv]
redis
httpx
pycountry
phonenumbers
passlib
bcrypt
pyjwt
jinja2
twilio
scalar_fastapi
pycountry
phonenumbers
fastapi-mail
pybloom-live
cryptography
celery
grpcio>=1.66.0
qdrant-client
sentence-transformers
langchain_community
langchain-huggingface
langchain_core
langchain_groq
langchain-mongodb
uvicorn
argon2_cffi
redisvl
langchain
langgraph
matplotlib